<a href="https://colab.research.google.com/github/aasthagarg128/ML_Learn/blob/main/List_Tuples_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Object in Python:

1.   Immutable Objects
2.   Mutable  Objects


Immutable Objects:

1.   int
2.   float
3.   string
4.   bool
5.   tuple

Mutable Objects;

1.   List
2.   Set
3.   Dictionary

List

In [ ]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# list can have multiple data types
my_list= [2,3,1.3,'English',True]
print(my_list)

[2, 3, 1.3, 'English', True]

List are Mutable --> Changeable

In [ ]:
#add elements to a list
my_list.append(6)
print(my_list)

[2, 3, 1.3, 'English', True, 6]

In [ ]:
# print the elements  of a list using their index
print(my_list[0])
print(my_list[3])

2
English

In [ ]:
# list allow duplicate values
list_1=[1,2,3,4,5,16,2,3]
print(list_1)
print(len(list_1))

[1, 2, 3, 4, 5, 16, 2, 3]
8

In [ ]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(7)
print(list_2)

[7]

In [ ]:
# delete an item in a list
list_2 =[2,3,1.4,"python",True,3]
print(list_2)

del list_2[1]
print(list_2)

[2, 3, 1.4, 'python', True, 3]
[2, 1.4, 'python', True, 3]

In [ ]:
# jointwo lists
list_3=[1,2,3,4,5]
list_4=[6,7,8,9,10]

list_5=list_3+list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple

In [ ]:
tuple_1=(1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [ ]:
# tuple allows multiple data type
tuple_2=(1,2,6,3,'Machine Learning',False)
print(tuple_2)

(1, 2, 6, 3, 'Machine Learning', False)

In [ ]:
# converting a list  to tuple
my_list=[3,4,5,6]
print(my_list)

my_tuple=tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [ ]:
print(my_tuple[0])
print(my_tuple[3])

3
6

Tuples are immutable->>Unchangeable

In [ ]:
my_tuple.append(16) # no item can be added

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
print(len(my_tuple))

4

Set

In [ ]:
# Set ---> Curly brackets
my_set={1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
print(my_set[0])  # set does no support indexing

TypeError: 'set' object is not subscriptable

In [ ]:
# convert a list to a set
list_5=[4,5,6,7,8]

x=set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [ ]:
# set does not allow duplicate values
set_3={1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

Dictionary
(Items have Key-Value pair)

In [ ]:
my_dict = {'name':'Aastha', 'age': 22 , 'country': 'India'}
print(my_dict)
type(my_dict)

{'name': 'Aastha', 'age': 22, 'country': 'India'}

dict

In [ ]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

Aastha
22
India

In [ ]:
# dictionary does not allow duplicate values
my_dict = {'name':'Aastha', 'age': 22 , 'country': 'India','name':'Aastha', 'age': 22 , 'country': 'India'}
print(my_dict)

{'name': 'Aastha', 'age': 22, 'country': 'India'}