<a href="https://colab.research.google.com/github/aasthagarg128/ML_Learn/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
lap1=int(input('Enter the price of the laptop: '))
lap2=int(input('Enter the price of the laptop: '))
lap3=int(input('Enter the price of the laptop: '))
lap4=int(input('Enter the price of the laptop: '))
lap5=int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [ ]:
for i in range(5):  # 0 to 4 index
  laptop_price=int(input('Enter the price of the laptop: '))

Enter the price of the laptop: 20000
Enter the price of the laptop: 30000
Enter the price of the laptop: 40000
Enter the price of the laptop: 50000
Enter the price of the laptop: 60000

In [ ]:
numbers=[50,100,150,200]

print(numbers)



print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])





for i in numbers:
  print(i)     #i will be equal to data in numbers[0 to 3]  i=50,100,150,200

[50, 100, 150, 200]
50
100
150
200
50
100
150
200

While Loop

In [ ]:
i=0

while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9