<a href="https://colab.research.google.com/github/aasthagarg128/ML_Learn/blob/main/Operators_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operators in Python:

1.   Arithmetic Operators
2.   Assignment Operators
3.   Comparison Operators
4.   Logical Operators
5.   Identity Operators
6.   Membership Operators

1.  Arithmetic Operators

In [ ]:
num_1=20
num_2=10

# addition
sum = num_1 + num_2
print('sum = ',sum)

# subtraction
diff = num_1 - num_2
print('difference = ',diff)

# multiplication
prod = num_1 * num_2
print('product = ',prod)

# division
div = num_1/ num_2
print('division =',div)

# exponent
exp = num_1 ** num_2  #20^10
print('exponent = ',exp)

# modulus
mod = num_1 % num_2
print('remainder = ',mod)

sum =  30
difference =  10
product =  200
division = 2.0
exponent =  10240000000000
remainder =  0

2.  Assignment Operators

1. +=

2. -=

3. *=

4. **=

5. /=

6. %=

In [ ]:
a=5
print(a)

1.
a=5
a+=2
print(a)

2.
a=5
a-=2
print(a)


3.
a=5
a*=2
print(a)

4.
a=5
a**=2
print(a)

5.
a=5
a/=2
print(a)


6.
a=5
a%=2
print(a)

5
7
3
10
25
2.5
1

3.  Comparison Operators

In [ ]:
a=5
b=10

print(a == b)   # equal to
print(a != b)   # not equal to
print(a > b)    # greater than
print(a < b)    # less than
print(a >= b)   # greater than equal to
print(a <= b)   # less than equal to

False
True
False
True
False
True

4.  Logical Operators

1.  and
2.  or
3.  not

In [ ]:
a=10

print( a>20 and a>5 )
print( a>20 or a>5 )
print(not(a>8 and a>5))

False
True
False

5.  Identity Operators

1.  is
2.  is not

In [ ]:
x=5
y=5

print(x is y)
print(x is not y)

True
False

In [ ]:
x=5
y=10

print(x is y)
print(x is not y)

False
True

6.  Membership Operators

1.  in
2.  not in

In [ ]:
a=5
b=10

c=[1,2,3,4,5]

print(a in c)
print(b in c)

print(a not in c)
print(b not in c)

True
False
False
True