<a href="https://colab.research.google.com/github/aasthagarg128/ML_Learn/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print Function

In [ ]:
print("Machine Learning")

Machine Learning

In [ ]:
print('Machine learning'+' project')

Machine learning project

In [ ]:
print(8)

8

In [ ]:
print(8+3)

11

#Basic Data types:


1.   int
2.   float
3.   str

In [ ]:
type(8)

int

In [ ]:
type(1.5)

float

In [ ]:
type("python")

str

#Constants & Variables

In [ ]:
superhero="Iron Man"  #variable
# marvel super hero="Iron Man" will throw an error.Instead use marvel_super_hero
print(superhero)

superhero="Captain America"
print(superhero)

Iron Man
Captain America

In [ ]:
hero1 , hero2 , hero3 = "Iron Man","Captain America","Thor"
print(hero1)
print(hero2)
print(hero3)

Iron Man
Captain America
Thor

In [ ]:
x = y = z = 33
print(x)
print(y)
print(z)
#python is case sensitive so print(X),print(Y)or print(Z) will throw an error

33
33
33

#Input function

In [ ]:
number_1=input("Enter the first number: ")
number_2=input("Enter the second number: ")
# In the abobe number_1 and number_2 are assumed to be strings and are concatinated in the below sum
sum=number_1+number_2
print(sum)

Enter the first number: 22
Enter the second number: 45
2245

In [ ]:
number_1=int(input("Enter the first number: "))
number_2=int(input("Enter the second number: "))
# Here the input data types of the variables are specified
sum=number_1+number_2
print(sum)

Enter the first number: 22
Enter the second number: 45
67

In [ ]:
#  changing the datatype in python:
num=5;
print(float(num))

5.0